<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Non-paramteric regression for Length-Pressure-Force data</title>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] },
  TeX: { equationNumbers: { autoNumber: 'all' } }
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<style>
body > * {
  max-width: 42em;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 7.5em;
  padding-right: 7.5em;
}
pre, code {
  max-width: 50em;
  font-family: monospace;
}
pre.oct-code {
  border: 1px solid Grey;
  padding: 5px;
}
pre.oct-code-output {
  margin-left: 2em;
}
span.comment {
  color: ForestGreen;
}
span.keyword {
  color: Blue;
}
span.string {
  color: DarkOrchid;
}
footer {
  margin-top: 2em;
  font-size: 80%;
}
a, a:visited {
  color: Blue;
}
h2 {
  font-family: "Roboto Condensed", serif;
  margin-top: 1.5em;
}
h2 a, h2 a:visited {
  color: Black;
}
</style>

</head>
<body>
<h1>Non-paramteric regression for Length-Pressure-Force data</h1>

<h2>Contents</h2>
<ul>
<li><a href="#node1">Load Force Pressure Length data</a></li>
<li><a href="#node2">Input/Ooutput</a></li>
<li><a href="#node3">Train GPs</a></li>
<li><a href="#node4">Plot results</a></li>
</ul>

<pre class="oct-code"><span class="comment"># Copyright (C) 2019 Juan Pablo Carbajal</span>
<span class="comment">#</span>
<span class="comment"># This program is free software; you can redistribute it and/or modify</span>
<span class="comment"># it under the terms of the GNU General Public License as published by</span>
<span class="comment"># the Free Software Foundation; either version 3 of the License, or</span>
<span class="comment"># (at your option) any later version.</span>
<span class="comment">#</span>
<span class="comment"># This program is distributed in the hope that it will be useful,</span>
<span class="comment"># but WITHOUT ANY WARRANTY; without even the implied warranty of</span>
<span class="comment"># MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</span>
<span class="comment"># GNU General Public License for more details.</span>
<span class="comment">#</span>
<span class="comment"># You should have received a copy of the GNU General Public License</span>
<span class="comment"># along with this program. If not, see &lt;http://www.gnu.org/licenses/&gt;.</span>
<span class="comment">#</span>
<span class="comment"># Author: Juan Pablo Carbajal &lt;ajuanpi+dev@gmail.com&gt;</span>
<span class="comment"># Created: 2019-03-01</span>

pkg load gpml</pre>
<h2><a id="node1">Load Force Pressure Length data</a></h2>
<pre class="oct-code">FLP = load (<span class="string">'../data/FORCE_PRO_MK1_calibration_data_20190227T160836_augm.csv'</span>);</pre>
<h2><a id="node2">Input/Ooutput</a></h2>
<p>We set as input length and pressure ($z_1, z_2$).
All the regression is performed on z-scored input variables.</p>

<p>$$ x_i = \frac{z_i - \bar{z}_i}{\sigma_{z_i}} $$</p>

<p>The output is force, unnormalized.</p>

<pre class="oct-code">[X Xmean Xstd] = zscore (FLP(:,2:3)); <span class="comment">% Pressure Length</span>
Y              = FLP(:,1);</pre>
<h2><a id="node3">Train GPs</a></h2>
<p>Here we train the models. We find the paramters of the models
minimizing the Leave-one-out error, This tends to increase the
interpolation error, but makes sure that generalization is good.</p>

<p>All models consider a mean linear mean function, i.e.</p>

<p>$$ F = a_0 + a_1 x_1 + a_2 x_2 + f(x_1, x_2)$$</p>

<p>where $f$ is a nonlinear function obtained from a kernel.</p>

<p>We test three kernels, all of the them with automatic relevance
detection (ARD): Squared exponential, Matérn (regulrity index 5), and
Piecewise polynomial (4 times differentiable)
The mathematical formulas for each of these kernels is given in
<a href="http://www.gaussianprocess.org/gpml/chapters/RW4.pdf">chapter 4</a> of
of the book "Gaussian Processes for Machine Learning" by Carl Edward Rasmussen
and Christopher K. I. Williams</p>

<p>The interpolation error for each model is printed.</p>

<pre class="oct-code">meanf = {@meanSum, {@meanConst, @meanLinear}};
likf  = {@likGauss};
prior = struct (<span class="string">'lik'</span>, {{@priorDelta}});
covfuncs  = {{@covSEard}, {@covMaternard, 5}, {@covPPard, 2}};
ncovs = numel (covfuncs);
args = {{@infPrior, @infLOO, prior}, meanf, NA, likf, X, Y};

<span class="keyword">for</span> i =1:ncovs
  covf = covfuncs{i};
  <span class="comment">% Optimizing leave-one-out cost</span>
  args{3} = covf;
  D = 2;
  dim = struct (<span class="string">'mean'</span>, eval(feval(meanf{:})), <span class="string">'cov'</span>, eval(feval(covf{:})));
  hyp0 = struct (<span class="string">'mean'</span>, zeros(dim.mean,1), <span class="string">'cov'</span>, zeros(dim.cov,1), <span class="string">'lik'</span>, -3);

  <span class="comment"># Train</span>
  <span class="comment"># avoid vebose output</span>
  <span class="comment">%hyp{i} = minimize_minfunc (hyp0, @gp, -1e3, args{:});</span>
  evalc (<span class="string">'hyp{i} = minimize_minfunc (hyp0, @gp, -Inf, args{:});'</span>);
  <span class="comment">## Results</span>
  <span class="comment">#</span>
  covfstr{i} = func2str(covf{1});
  rmse = sqrt (meansq (Y - gp(hyp{i}, args{:}, X)));
  printf (<span class="string">'%s RMSE: %.2g N\n'</span>, covfstr{i}, rmse);
<span class="keyword">endfor</span></pre>

<pre class="oct-code-output">covSEard RMSE: 0.0039 N
covMaternard RMSE: 0.018 N
covPPard RMSE: 0.0056 N
</pre>
<h2><a id="node4">Plot results</a></h2>
<p>All models are ploted as a mesh overlaped tot he data.
Within the region of the data all models coincide.
As we move away formt he data the polynomial model rapidly diverges,
as expected.</p>

<pre class="oct-code">[Xmin Xmax] = bounds (X);
n = 40;
xp = linspace (Xmin(1), Xmax(1), n);
xl = linspace (Xmin(2), Xmax(2), n);
[XP XL] = meshgrid (xp, xl);
<span class="keyword">for</span> i=1:ncovs
  args{3} = covfuncs{i};
  F{i} = reshape (gp (hyp{i}, args{:}, [XP(:) XL(:)]), n, n);
<span class="keyword">endfor</span>
P = XP * Xstd(1) + Xmean(1);
L = XL * Xstd(2) + Xmean(2);
figure (1), clf
  hold on
  colors = lines(ncovs);
  <span class="keyword">for</span> i=1:ncovs
    h(i) = mesh (P, L, F{i}, <span class="string">'facecolor'</span>, <span class="string">'none'</span>, <span class="string">'edgecolor'</span>, colors(i,:));
  <span class="keyword">endfor</span>
  plot3 (FLP(:,2), FLP(:,3), FLP(:,1), <span class="string">'o'</span>, <span class="string">'markerfacecolor'</span>, <span class="string">'auto'</span>);
  hold off
  axis tight
  xlabel (<span class="string">'Pressure'</span>);
  ylabel (<span class="string">'Length'</span>);
  zlabel (<span class="string">'Force'</span>);
  view (3)
  legend(h, covfstr);</pre>
<img src="s_gp_plf-1.png" alt="s_gp_plf-1.png">
<footer>
<hr>
<a href="https://www.octave.org">Published with GNU Octave 4.4.0</a>
</footer>
<!--
##### SOURCE BEGIN #####
## Non-paramteric regression for Length-Pressure-Force data
#
##

# Copyright (C) 2019 Juan Pablo Carbajal
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#
# Author: Juan Pablo Carbajal <ajuanpi+dev@gmail.com>
# Created: 2019-03-01

pkg load gpml

## Load Force Pressure Length data
#
FLP = load ('../data/FORCE_PRO_MK1_calibration_data_20190227T160836_augm.csv');

## Input/Ooutput
# We set as input length and pressure ($z_1, z_2$).
# All the regression is performed on z-scored input variables.
#
# $$ x_i = \frac{z_i - \bar{z}_i}{\sigma_{z_i}} $$
#
# The output is force, unnormalized.
#
[X Xmean Xstd] = zscore (FLP(:,2:3)); % Pressure Length
Y              = FLP(:,1);

## Train GPs
#
# Here we train the models. We find the paramters of the models
# minimizing the Leave-one-out error, This tends to increase the
# interpolation error, but makes sure that generalization is good.
#
# All models consider a mean linear mean function, i.e.
#
# $$ F = a_0 + a_1 x_1 + a_2 x_2 + f(x_1, x_2)$$
#
# where $f$ is a nonlinear function obtained from a kernel.
#
# We test three kernels, all of the them with automatic relevance
# detection (ARD): Squared exponential, Matérn (regulrity index 5), and
# Piecewise polynomial (4 times differentiable)
# The mathematical formulas for each of these kernels is given in
# <http://www.gaussianprocess.org/gpml/chapters/RW4.pdf chapter 4> of
# of the book "Gaussian Processes for Machine Learning" by Carl Edward Rasmussen
# and Christopher K. I. Williams
#
# The interpolation error for each model is printed.
#
meanf = {@meanSum, {@meanConst, @meanLinear}};
likf  = {@likGauss};
prior = struct ('lik', {{@priorDelta}});
covfuncs  = {{@covSEard}, {@covMaternard, 5}, {@covPPard, 2}};
ncovs = numel (covfuncs);
args = {{@infPrior, @infLOO, prior}, meanf, NA, likf, X, Y};

for i =1:ncovs
  covf = covfuncs{i};
  % Optimizing leave-one-out cost
  args{3} = covf;
  D = 2;
  dim = struct ('mean', eval(feval(meanf{:})), 'cov', eval(feval(covf{:})));
  hyp0 = struct ('mean', zeros(dim.mean,1), 'cov', zeros(dim.cov,1), 'lik', -3);

  # Train
  # avoid vebose output
  %hyp{i} = minimize_minfunc (hyp0, @gp, -1e3, args{:});
  evalc ('hyp{i} = minimize_minfunc (hyp0, @gp, -Inf, args{:});');
  ## Results
  #
  covfstr{i} = func2str(covf{1});
  rmse = sqrt (meansq (Y - gp(hyp{i}, args{:}, X)));
  printf ('%s RMSE: %.2g N\n', covfstr{i}, rmse);
endfor

## Plot results
#
# All models are ploted as a mesh overlaped tot he data.
# Within the region of the data all models coincide.
# As we move away formt he data the polynomial model rapidly diverges,
# as expected.
#
[Xmin Xmax] = bounds (X);
n = 40;
xp = linspace (Xmin(1), Xmax(1), n);
xl = linspace (Xmin(2), Xmax(2), n);
[XP XL] = meshgrid (xp, xl);
for i=1:ncovs
  args{3} = covfuncs{i};
  F{i} = reshape (gp (hyp{i}, args{:}, [XP(:) XL(:)]), n, n);
endfor
P = XP * Xstd(1) + Xmean(1);
L = XL * Xstd(2) + Xmean(2);
figure (1), clf
  hold on
  colors = lines(ncovs);
  for i=1:ncovs
    h(i) = mesh (P, L, F{i}, 'facecolor', 'none', 'edgecolor', colors(i,:));
  endfor
  plot3 (FLP(:,2), FLP(:,3), FLP(:,1), 'o', 'markerfacecolor', 'auto');
  hold off
  axis tight
  xlabel ('Pressure');
  ylabel ('Length');
  zlabel ('Force');
  view (3)
  legend(h, covfstr);
##### SOURCE END #####
-->
</body>
</html>
